*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
   }

input, label, button{
    cursor: pointer;
}

:root {
    --color-dark:#2c3e50 ;
    --color-accent: #a4ac86; 
    --color-light-bg: #c2c5aa;
    --color-feature-bg: #a4ac86 ; 
    --color-text-dark: #656d4a; 
    --color-text-light: white;
}

body{
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--color-text-light);
    color: black;
}

/* HEADER */

header{
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 85%;
     }

header .logo{
  font-weight: 700;
  font-family: "Passion One", sans-serif;
  color: var(--color-accent);
  font-size: 1.8em;
}

nav, nav a{
    gap: 30%;
    display: flex;
    color: var(--color-accent);
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.4s;
}

nav a:hover{
    color: var(--color-text-dark);
    }

 /* From Uiverse.io by Subu19 */ 
.hamburger {
  display: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  transform: 0.2s;
  position: relative;
}

.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
   }

   .line {
    fill: none;
  stroke: white;
 }
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: crimson;
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}


/* HEADER */

/* SECTION1 */

section .bg{
    background-image: url(https://www.img-ikyu.com/contents/common/image/acc7/00081087/1/org/13757515.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

.card{
    top: 50%;
    margin-left: 5%;
    max-width: 90%;
    z-index: 10;
    position: absolute;
     }

.card h2{
 font-family:"Passion One", sans-serif ;
  margin-bottom: 10px;
  font-size: 3.5em;
  color: var(--color-accent);
}

.card p{
    font-size: 1.3em;
    width: 55%;
    color: white;
    margin-bottom: 20px;
}

.card button{
 background-color: transparent;
 color: var(--color-accent);
 border-radius: 50px;
 width: 25%;
 height: 10%;
 border: 2px solid var(--color-text-light) ;
}

.card button:hover{
    background-color: var(--color-light-bg);
    color: var(--color-dark); }

 .services h3{
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family:"Passion One", sans-serif;
    font-size: 2.5em;
 }


 .icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
    font-family: "ABeeZee", sans-serif;
    font-weight: 600;
     }
  
   .icons p{
    margin-top: 5%;
 }    

 hr{
   border-top: 2px dashed black;
   max-width: 90%;
   margin-left: 5%;
      }

.icons img{
    max-width: 15%;
}

/* SECTION1 */

/* SECTION2 */
.bgggg{
     background-color: var(--color-feature-bg);
     padding-top: 20px;
}
.more{
   
    display: flex;
    align-items: center;
    gap: 10%;
    }

 .more img{
    max-width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }   

.more p{
    width: 25%;
    font-size: 1.3em;
    font-weight: 400;
    font-family: "ABeeZee", sans-serif;
    }

 .bgggg h3 {
    margin-left: 5%;
    margin-top: 30px;
    font-size: 1.5em;
    font-family:"Passion One", sans-serif;
 }  

 .clients-testimonials h3 {
     margin-top: 5%;
     margin-bottom: 5%;
     align-items: center;
     justify-content: center;
     display: flex;
     font-family: "Passion One", sans-serif;
     font-weight: 500;
     font-size: xx-large;
     color: var(--color-dark);
 } 

 .reviews{
    align-items: flex-start;
    justify-content: center;
    display: flex;
    gap: 5%;
    margin-left: 10%;
    }

 .reviews p{
    color: black;
    font-family: "ABeeZee", sans-serif;
    width: 70%;
    margin-top: 3%;
 }

 .reviews h2{
    font-family: "Passion One", sans-serif;
    margin-top: 5%;
    color: black;
    margin-bottom: 20%;
 }

.abt {
    padding: 60px 5%;
}

.abt {
    background-color: #2c3e50;
    color: black;
}

.abt h3{

    font-size: 2.5em; 
    padding-bottom: 15px; 
    padding-top: 0; 
    padding-left: 0;
}

.content {
    display: flex; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5%; 
}

.imagecont {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
}

.imagecont img {
    width: 100%;
    }

 
  .text2 h4{
    font-size: 1.4em; 
    font-weight: 900;  
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    }

.text2{
   font-family: "ABeeZee", sans-serif;
   font-size: 1.1em;
   line-height: 1.6; 
   }

.text3 h4{
     font-size: 1.4em; 
     font-weight: 900; 
     margin-top: 10px;
     margin-bottom: 10px;
     font-family: 'Nunito', sans-serif;
}

.text3 p {
    font-family: "ABeeZee", sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
   }


 /* SECTION2 */


footer {
    background-color: var(--color-dark);
    color: white;
    padding: 60px 5%;
    font-family: 'Nunito', sans-serif;
}

.footercont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    gap: 40px;
}

.footcol {
    flex: 1;
    min-width: 200px;
}

.footlog .logotext {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #a4ac86; 
}

footer img{
   width: 20%;
}

.footlog .tag{
    font-style: italic;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.footercol h4 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ffffff;
    border-bottom: 2px solid #a4ac86; 
    padding-bottom: 5px;
    display: inline-block;
}

.footercol ul {
    list-style: none;
    padding: 0;
}

.footercol ul li {
    margin-bottom: 10px;
}

.footercol a, .footercol p {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}

.foootercol a:hover {
    color: #a4ac86; 
}

.footerconta p {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 30px;
    font-size: 0.8em;
    color: #7f8c8d;
}

/* contact */

.backk{
    font-family: "Passion One", sans-serif;
    color: black;
    line-height: 1.6;
    min-height: 100vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    
   
    background-color: var(--color-dark);
   }

  .reservation-page {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.reservation-form-container {
    width: 100%;
    max-width: 700px;
    background-color: var(--color-accent); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
}

.form-title {
    font-size: 2.2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.form-subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.form-group-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-field {
    flex: 1;
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid var(--border-color);
    color: var(--color-dark);
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::placeholder {
    color: var(--color-dark);
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--color-dark);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}

textarea {
    resize: vertical;
}

.form-submit {
    margin-top: 30px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button[type="submit"]:hover {
    background-color: var(--focus-color);
}

button[type="submit"]:active {
    transform: scale(0.99);
}


footer {
    background-color: var(--color-text-dark);
    color: white;
    padding: 60px 5%;
    font-family: 'Nunito', sans-serif;
}

.footercont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;
    gap: 40px;
}

.footcol {
    flex: 1;
    min-width: 200px;
}

.footlog .logotext {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    color: black; 
}

footer img{
   width: 20%;
}

.footlog .tag{
    font-style: italic;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.footercol h4 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 20px;
    color:  white;
    border-bottom: 2px solid #a4ac86; 
    padding-bottom: 5px;
    display: inline-block;
}

.footercol ul {
    list-style: none;
    padding: 0;
}

.footercol ul li {
    margin-bottom: 10px;
}

.footercol a, .footercol p {
    color: #a1abb1;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s;
}

.foootercol a:hover {
    color: #a4ac86; 
}

.footerconta p {
    margin-bottom: 10px;
}

.copyright {
    margin-top: 30px;
    font-size: 0.8em;
    color: grey;
}





/* rooms */
.bgrm {
 background-color: var(--color-dark);
 max-height: 300vh;
}

.title{
    font-family: "Passion One", sans-serif;
    color: black;
    line-height: 1.8;
    padding: 20px;
       }

.title h3{
    font-weight: 800;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
    }

 .title p{
    align-items: center;
    justify-content: center;
    display: flex;
     }  
 
 .whole {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 5%;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    
    }

 .rom-card{
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    background-color: var(--color-text-light);
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
   }

 .rom-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.whole img{
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    display: block;
    }

   .rom-card h3 {
    padding: 15px 20px 0;
    font-size: 1.2em;
    font-weight: 700;
    color:black;
        } 

.restt {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5px;
   padding: 10px 20px;
   margin-bottom: 10px;
   font-size: 0.9em;
        }


 .restt button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    background-color: none;
    color: var(--color-text-dark);
    font-weight: 700;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.1s;
        }

  .restt button:hover {
     background-color: var(--color-dark);
     transform: translateY(-1px);
        }
        
  .restt button:active {
   transform: translateY(0);
        }
         


        /* menu */

 .colllll{
  background-color: #5c677d;
  min-height:170vh;
  
 }

.titttttle{
text-align: center;
padding: 40px 20px;
}

 .titttttle h3{
   font-family: "Ephesis", cursive;
   font-size: 2.3em;
    margin-top: 5%;
       }

.titttttle p{
    font-size: 1.2em;
    font-family:"Passion One", sans-serif ;
   }


.menu1 h3{
    font-size: 2em;
    font-family:"Passion One", sans-serif ;
    text-align: center;
}

.menu-list1 img{
    max-height: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10%;
    margin-top: 5%;
}

 .menu-list1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%; 
    padding-top: 2%;      
    margin-right: 30%;
    margin-bottom: 2%;
    margin-left: 10%;
      }

  .collumn1 p{
    font-family: "ABeeZee", sans-serif;
  }  
  
  .collumn1 h4{
    font-weight: 800;
    font-size: 1.4em; 
  }

  .menu2 h3{
    font-size: 2em;
    font-family:"Passion One", sans-serif ;
    text-align: center;
    margin-top: 5%;
  }

 .collumn2{
    text-align: center;
    margin-top: 3%;
            }

 .collumn2 h4{
    font-weight: 800;
    font-size: 1.4em;
    margin-top: 1%;
 }  
 
 .collumn2 p{
     font-family: "ABeeZee", sans-serif;
     margin-bottom: 5px;
     margin-top: 5px;
      }

 .menu-list2{
    margin-bottom: 5%;
 }

 .greytext{
    text-align: center;
    font-size: 0.85em;
    color: darkred;
    margin-bottom: 5%;
 }



@media screen and (max-width:600px) { 
      header nav a{
        display: none;
    }

    
.hamburger{
    display: block;
}

    .logo{
     padding-top: 15px;
     padding-right: 20px;
     display: block;
    }

        /* page 1 */
  .card{
    font-size:  0.75em;
    width: 90%;
    margin-bottom:50px;
    }

    .card h2{
       line-height: 1.1;
       margin-bottom: 15px;
    }

    .card button{
        font-size: 0.8em;
        padding: 10px 20px;
        margin-bottom: 5%;
        max-width: 80%;
    } 

 .icons{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding: 20px 0;
         }

  .more {
    flex-direction: column;
    gap: 0; 
   }

  .more img {
    max-width: 50%;
          }
            
            
  .more p {
    width: 60%; 
    font-size: 1.1em; 
    
    }
            
          
  .bgggg h3 {
   width: 70%;
   font-size: 1.3em;
   } 
 
 .reviews {
  flex-direction: column; 
    }
            
  .reviews > div {
    margin-bottom: 20px;
    }

 .abt h3{
  width: 70%;
  font-size: 1.8em;
         } 

 .content{
  flex-direction: column;
  gap: 20px; 
     } 
   
 /* page 1   */

 .footercont {
  flex-direction: column; 
  align-items: center;
  text-align: center;
  gap: 30px;
              }

.footer-links ul {
 display: flex;
 flex-wrap: wrap;
 gap: 15px 25px;
  }

  /* contact */
  .backk{
    background-color: #2c3e50;
    padding-top: 100px;
  }

 .form-group-row {
   flex-direction: column;
    }
            
  .form-group-row .form-field {
   margin-bottom: 15px; 
   }

  /* rooms  */
.bgrm {
 background-color: var(--color-dark);
 max-height: 450vh;
 padding-top: 100px;
}

.title h3{
   font-size: 1.5em;
   line-height: 1.2;
   padding: 0 15px;
     }

 .title p{
    font-size: 0.9em;
    padding: 0 15px;
 }    

  .whole{
    display: grid;
    gap: 30px;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
     }

 .room-card{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15%;
  }

  .room-card h3{ 
    font-size: 0.85em;
     }

 .room-card p{
    font-size: 1em;
    line-height: 1.4;
    text-align: left;
  }


 footer {
    padding: 20px 10px;
    text-align: center;
  }

  /* menu */
.colllll{
  background-color: #5c677d;
  min-height:220vh;
  padding-top: 100px;}

 .menu-list1 img {
   display: none;
         }
  
  .collumn1 {
   flex-direction: column;
   width: 100%;
            }
 
  .menu2{
    text-align: center;
}

 
}